.git
.github
.env
.env.*
.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
tests
data
artifacts
mlruns
mlruns_backup*
mlartifacts
mlflow-storage
*.duckdb
*.db
*.sqlite
*.sqlite3
*.log
logs
.streamlit
.idea
.vscode
.DS_Store
Thumbs.db
coverage.xml
htmlcov
mlruns_backup
